<form [formGroup]="form">
  <div>
    <label>username:</label><br/>
    <input type="text" formControlName="username">
    <div *ngIf="username?.touched && username?.errors?.['required']">Require Character</div>
    <div *ngIf="username?.errors?.['checkB']">B Not Contain</div>
  </div>
  <div>
    <label>email:</label><br/>
    <input type="email" formControlName="email">
  </div>
  <div>
    <label>password:</label><br/>
    <input type="password" formControlName="password">
  </div>
  <input type="submit" [disabled]="form.invalid">
</form>